body{
    margin:0;
  font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue", "Helvetica","Arial", sans-serif;

}
main{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    display: block;
    padding-top: 0;
}
/* navegation bar */


.navigationBar{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    max-height: 62px;
    font-size: 17px;
    margin: 0 ;
    display: flex;
    width:100%;
    justify-content: center;
    }

 .nav__content{
    margin: 0px 94px;
    position: relative;
    height: 46px;
    width:100%
    
}
/* responsive nav Bar */
.small_nav_bar{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    /* align-content: space-between; */
    align-items: center;
}
.navigationBar ul{
    list-style: none;
    margin: 0;
    display: grid;
    align-items: center;
    flex-wrap: nowrap;
    
    visibility: hidden;
}

.navLi li{
    font-size: 12px;
    font-weight: 400;
    color: #f5f5f5 ;
    padding: 15px;
    /* visibility: hidden; */
    display: inline-block;
    position: relative;
    opacity: 0.8;
}  
.navLi:hover{
    color: cyan;
}
.nav_apple_img{
    
    visibility: hidden;
}
.appleImgnNavBarSmall{
    width: 22px;
    /* margin-left: 286px; */
    height: 23px;
    
}
.nav__search{
    
    height: 44px;
    display: inline-block;
    position: relative;
    
   }
   .navBag{
       
       background-image: url(https://thumbs.dreamstime.com/z/shopping-bag-icon-trendy-logo-concept-white-bac-background-marketing-collection-suitable-use-web-apps-mobile-print-131178216.jpg;)
   }
   .hamberguer_nav{
    width: 21px;
    border-radius: 10px;
    visibility: visible;
}

.navLens{
    width: 20px;
    position: relative;
    margin-top: -18px;
    visibility: hidden;
}
.nav_bag_img_Small_screen{
    /* position: fixed; */
   
    /* width: 21px; */
    
    visibility: visible;
}

/* nav bar media section 1280px*/
   @media(min-width:1280px) {
    .navigationBar{
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        flex-direction: column;
        height: 46px;
    }
    
    .nav__content{
       display: inline-flex;
       justify-content: center;
    }
    .small_nav_bar{
   
    visibility: hidden;
}
     .navigationBar ul{
       width: 56em;
       display:flex;
       justify-content: center;
       visibility: visible;
       align-items: center;
    }
    .navLi li{
    font-size: 16px;
    font-weight: 400;
    color: #f5f5f5 ;
    padding: 15px;
    display: inline-block;
    position: relative;
    opacity: 0.8;
}  
    .nav_apple_img{
       width: 20px;
       position: relative;
       visibility: visible;
       padding-top: 5px;
}
    .hamberguer_nav {
       visibility: hidden;

    }
    .navLens{
       width: 20px;
       position: relative;
       margin-top: -18px;
       visibility: visible;
    }
    .nav_bag_img{
    width: 19px;
    visibility: visible;
}
    .appleImgnNavBarSmall{
    visibility: hidden;
}
    .nav_bag_img_Small_screen{
   visibility: hidden;
   }

   }

/* nav bar media section 700px*/

   @media (min-width:800px) {
  
    .hamberguer_nav {
        visibility: hidden;
    }
   
     .navigationBar ul{
         padding: 0;
       width: 100%;
       display:flex;
       justify-content: center;
       visibility: visible;
       align-items: center;
    }
     .nav__content{
       display: inline-flex;
       justify-content: center;
       margin: 0;
    }
       .small_nav_bar{
   
    display:none;
}
       .navLi li{
    font-size: 12px;
    font-weight: 400;
    color: #f5f5f5 ;
    padding: 15px;
    display: inline-block;
    
    opacity: 0.8;
}  
  .nav_apple_img{
       width: 20px;
       position: relative;
       visibility: visible;
       padding-top: 5px;
}
    .navLens{
       width: 27px;
       position: relative;
       border-radius: 50%;
       visibility: visible;
       margin-top: 3px;
    }
       .nav_bag_img{
    
    width: 18px;
    visibility: visible;
}
    .appleImgnNavBarSmall{
       visibility: hidden;
    }
    .nav_bag_img_Small_screen{
       visibility: hidden;
   }
}


  /*box section  */
   .module__content{
       height: 670px;
       padding-bottom: 10px;
      background-color: white;
     width: 100%;
     
   }
.unit-wrapper{
    position: relative;
    margin: 0;
    
}
.unit_copy_wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 650px;
    margin-top: 0;
  
}
.headline{
    padding: 0;
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -0.002em;
    margin-top:10px;
    margin-bottom: 0;
    font-weight: 500;

}
.valentines-day-last-chance{
    padding: 0;
    font-size: 48px;
    line-height: 1.09349;
    font-weight: 600;
    letter-spacing: -0.002em;
    margin-top:10px;
    margin-bottom: 0;
    font-weight: 500;
    width: 100%;

}
/* @media (min-width = 540px) {
    .valentines-day-last-chance {

}
} */
.subhead{
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    margin-bottom: 15px;
}
.iphoneImage{
    
    z-index: 1;
  width: 100%;
  height:540px;
  
}
/* .unit__link{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

} */
.cta-links{
    color:rgb(130, 183, 236);
   
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    
}
.cta-links a{
    text-decoration: none;
    margin:0 30px;
    color:rgb(75, 147, 219);
}
.cta-links a:hover{
    text-decoration: underline;
}
.unit_div{
    width: 100%;
    margin: 40px;
    border-radius: 1px solid ;
}
/* section 2 */
.unit-wrapper2{
    background-color: #fbfbfd;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    position: relative;
}

.unit_copy_wrapper2{
    text-align: center;
    position: relative;
    flex-grow: 0;

}
.unit-image-wrapper{
 display: flex;
}
